@import "variable";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-light-grey;
    font-family: 'Karla', sans-serif;
}

.container {
    font-size: 1.4rem;
    margin: auto auto;
    width: 30rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    border-radius: 5px;
    overflow: hidden;



    @include respond(desktop) {
        width: 60rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10rem auto;
        font-size: 1.6rem;

        h2 {
            margin-bottom: 3rem;
            font-size: 2rem;
        }

        .heading {
            grid-column: 1/3;
            padding: 3rem;
        }

        .signup {
            grid-column: 1/2;
            padding: 3rem;
            .btn {
                padding: 2rem 0;
                font-size: 1.6;
            }
        }

        .why-us {
            grid-column: 2/3;
            padding: 3rem;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.heading {
    background-color: white;
    padding: 2rem;

    & h2 {
        color: $color-Cyan-light;
    }

    &__paragraph-sub {
        color: $color-bright-yellow;
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    &__paragraph-details {
        line-height: 2.5rem;
        font-weight: 400;
        color: $color-grayish-blue;
    }
}

.signup {
    background-color: $color-Cyan-dark;
    
    padding: 2rem;
    color: white;

    .price {
        font-size: 3.3rem;
        border: none;
    }

    .per-month {
        border: 1rem solid transparent;
        color: rgba($color-white, .5);
    }
    table {
        margin-bottom: 1rem;
    }

    .btn {
        background-color: $color-bright-yellow;
        color: $color-white;
        font-weight: 700;
        width: 100%;
        padding: 1.5rem 0;
        margin-top: 3rem;
        border-radius: 5px;
        border: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        font-size: 1.4rem;
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(.2rem);
            box-shadow: 0 .2rem 2rem rgba($color-black, .3);
        }
    }

    p {
        color: $color-light-grey;
    }
    
}

.why-us {
    background-color: $color-Cyan-light;
    padding: 2rem;

    & h2 {
        color: white;
    }

    p {
        color: $color-light-grey;
        line-height: 2rem;
    }
}
